# Deep learning
torch
torchvision
timm
transformers

# Explainable AI
captum
grad-cam
shap

# Data processing and machine learning
numpy
pandas
openpyxl
scikit-learn
opencv-python
Pillow

# Visualisation
matplotlib
seaborn

# Utilities
tqdm

# Local notebook environment
jupyterlab
ipykernel
